{{#partial "content"}}

    {{#if squads}}
        <h1>Here are Your Squads: </h1>
        <ul>
            {{#each squads}}
                <li>
                    <div class="card border-dark mb-3 text-dark" style="width: 50rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><h3>Name: {{ name }}</h3></li>
                            <li class="list-group-item"><h3>My Mission : {{ cause }}</h3></li>
                            <li class="list-group-item"><h4><a href="/squads/{{id}}">View my heroes!</a></h4></li>
                        </ul>
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <div class="col-6">
                                    <a href="/squads/{{id}}/update" class="btn btn-warning btn-lg">Edit Squad</a>
                                </div>
                                <div class="col-6">
                                    <a href="/squads/{{id}}/delete" class="btn btn-danger btn-lg">Delete Squad</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {{/each}}

        </ul>


    {{else}}
        <h1 class="text-center">There are no Squads yet :(</h1>

    {{/if}}

{{/partial}}

{{> layout.hbs}}