{{#partial "content"}}

     <h1>Hero Details : </h1><br>

     <ul>
         <li>
             <div class="card border-dark mb-3" style="width: 50rem;">
                 <ul class="list-group list-group-flush">
                     <li class="list-group-item"><h3>Name : {{ hero.name }}</h3></li>
                     <li class="list-group-item"><h3>Age : {{ hero.age }}</h3></li>
                     <li class="list-group-item"><h3>Superpower : {{hero.specialPower}}</h3></li>
                     <li class="list-group-item"><h3>Weakness : {{hero.weakness}}</h3></li>
                 </ul>
                 <div class="card-body text-dark">
                     <div class="row justify-content-center">
                         <div class="col-6">
                             <a href="/heroes/{{hero.id}}/update"><button type="button" class="btn btn-warning btn-lg">Edit Hero</button></a>
                         </div>
                         <div class="col-6">
                             <a href="/heroes/{{hero.id}}/delete"><button type="button" class="btn btn-danger btn-lg">Delete Hero</button></a>
                         </div>
                     </div>
                 </div>
             </div>
         </li>
     </ul>

{{/partial}}

{{> layout.hbs}}