{{#partial "content"}}

     <h1>Hero Details : </h1><br>

     <ol>
         <li>
            <p>Name : {{ hero.name }}</p><br>
            <p>Age : {{ hero.age }}</p><br>
            <p>Superpower : {{hero.specialPower}}</p><br>
            <p>Weakness : {{hero.weakness}}</p><br>
             <a href="/heroes/{{hero.id}}/update"><button type="button" class="btn btn-warning btn-lg">Edit Hero</button></a>
             <a href="/heroes/{{hero.id}}/delete"><button type="button" class="btn btn-danger btn-lg">Delete Hero</button></a>
         </li>
     </ol>

{{/partial}}

{{> layout.hbs}}